
/* Section */

.image-banner {
    position: relative;
    overflow: hidden;
    height: 500px; /* Adjust the height as needed */
  }
  
  .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.section {
    height: 100vh;
    padding: 20px 0;
    background-color: #f5f5f5;
  }
  
  .container {
    padding-top: 5%;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .column .title {
    font-size: 35px;
    font-weight: bold;
    color: #303131;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .column .sub-title {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #00587c; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .column {
    align-items: center;
    flex: 1;
    padding: 5px;
    height: 100%;
  }
  
#column-right{
    padding-left: 80px;
}

  .column img {
    padding-right: 50px;
    max-width: 100%;
    height: auto;
  }
  
  .column p {
    padding-top: 1%;
    font-size: 16px;
    line-height: 1.7;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
    padding-bottom: 30px;
  }
  
  .btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #00587c;
    color: white;
    font-size: 16px;
  }

  .landingPageImage{
    height: 100%;
  }
  
  .banner{
    border-radius: 8px;
    /*box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);*/
  }

  .banner:hover{
    transition: transform 0.3s ease;
    transform: scale(1.05);
    cursor: pointer;
  }